<div><span>Id:&nbsp;{{task.Id}}</span></div>
<div><span>Project Id: {{task.ProjectId}}</span></div>
<div><span>Performer Id: {{task.PerformerId}}</span></div>
<div><span>Name: {{task.Name}}</span></div>
<div><span>Description: {{task.Description}}</span></div>
<div appTaskState [value]="task.State"><span  >State: {{task.State}}</span></div>
<div><span>CreatedAt: {{task.CreatedAt  | datePipe}}</span></div>
<div><span>FinishedAt: {{task.FinishedAt  | datePipe}}</span></div>
<div><button class="add-new-task" (click)="showingUpdateTaskForm()">edit</button></div>
<div><button class="add-new-task" (click)="deleteTask()">delete</button></div>

<form name="userUpdateForm" #userUpdateForm="ngForm" *ngIf="showUpdateTaskForm" (ngSubmit)="updateTask()">
    <div>
        <p>Name</p>
        <input type="text" class="updateTaskItem" name="name" [(ngModel)]="task.Name" #name="ngModel" required />
    </div>
    <div>
        <p>Description</p>
        <input type="text" class="updateUserItem" name="Description" #Description="ngModel" [(ngModel)]="task.Description" required />
    </div>
    <div>
        <p>Project Id</p>
        <input type="number" class="updateUserItem" name="ProjectId" #ProjectId="ngModel" #name="ngModel" [(ngModel)]="task.ProjectId" />
    </div>
    <div>
        <p>Performer Id</p>
        <input type="number" class="updateUserItem" name="PerformerId" #PerformerId="ngModel" #name="ngModel" [(ngModel)]="task.PerformerId" />
    </div>
    <div>
        <p>State</p>
        <input type="number" class="updateUserItem" name="State" #State="ngModel" #name="ngModel" [(ngModel)]="task.State" />
    </div>
    <div>
        <p>Finished At</p>
        <input type="date" class="updateUserItem"  FinishedAt="birthDay" #FinishedAt="ngModel" [ngModel]="task.FinishedAt | date:'yyyy-MM-dd'"  (ngModelChange)="task.FinishedAt = $event"  required />
    </div>
    <div>
        <input type="submit" title="Update task"/>
    </div>
    <div class="server-error">{{serverError}}</div>
</form>