<div class="title"><span>Tasks list</span></div>
<app-task *ngFor="let _task of tasks" [task]="_task"></app-task>
<button class="add-new-task" (click)="showingAddTaskForm()" >+</button>
<form name="taskForm" #userForm="ngForm" *ngIf="showAddTaskForm" (ngSubmit)="addTask()" >
    <div>
        <p>Name</p>
        <input type="text" name="name" [(ngModel)]="newTask.Name" #name="ngModel" required (change)="change()"/>
    </div>
    <div>
        <p>Description</p>
        <input type="text" name="description" #description="ngModel" [(ngModel)]="newTask.Description" required  (change)="change()"/>
    </div>
    <div>
        <p>State</p>
        <input type="number" name="State" #State="ngModel" #name="ngModel"  [(ngModel)]="newTask.State" (change)="change()"/>
    </div>
    <div>
        <p>Project Id</p>
        <input type="number" name="ProjectId" #ProjectId="ngModel" #name="ngModel"  [(ngModel)]="newTask.ProjectId" (change)="change()"/>
    </div>
   
    <div>
        <p>Performer Id</p>
        <input type="number" name="PerformerId" #PerformerId="ngModel" #name="ngModel"  [(ngModel)]="newTask.PerformerId" (change)="change()"/>
    </div>
    <div>
        <p>FinishedAt</p>
        <input type="date" name="FinishedAt" #FinishedAt="ngModel"  [(ngModel)]="newTask.FinishedAt" required  (change)="change()"/>
    </div>
    <div>
        <input type="submit" title="Add task"  value="Add new task"/>
    </div>
    <div class="server-error">{{serverError}}</div>
</form>