<div class="title"><span>User list</span></div>
<app-user *ngFor="let _user of users" [user]="_user"></app-user>
<button class="add-new-user" (click)="showingAddUserForm()" >+</button>
<form name="userForm" #userForm="ngForm" *ngIf="showAddUserForm" (ngSubmit)="addUser()" >
    <div>
        <p>Name</p>
        <input type="text" name="name" [(ngModel)]="newUser.Name" #name="ngModel" required (change)="change()"/>
    </div>
    <div>
        <p>Surname</p>
        <input type="text" name="surname" #surname="ngModel" [(ngModel)]="newUser.Surname" required  (change)="change()"/>
    </div>
    <div>
        <p>Email</p>
        <input type="text" name="email" #email="ngModel"  [(ngModel)]="newUser.Email" required  (change)="change()"/>
    </div>
    <div>
        <p>Team Id</p>
        <input type="number" name="teamId" #teamId="ngModel" #name="ngModel"  [(ngModel)]="newUser.TeamId" (change)="change()"/>
    </div>
    <div>
        <p>BirthDay</p>
        <input type="date" name="birthDay" #birthDay="ngModel"  [(ngModel)]="newUser.BirthDay" required  (change)="change()"/>
    </div>
    <div>
        <input type="submit" title="Add user"  value="Add new user"/>
    </div>
    <div class="server-error">{{serverError}}</div>
</form>