<div class="title"><span>Team list</span></div>
<app-team *ngFor="let _team of teams" [team]="_team"></app-team>
<button class="add-new-team" (click)="showingAddTeamForm()" >+</button>
<form name="userForm" #userForm="ngForm" *ngIf="showAddTeamForm" (ngSubmit)="addTeam()" >
    <div>
        <p>Name</p>
        <input type="text" name="name" [(ngModel)]="newTeam.Name" #name="ngModel" required (change)="change()"/>
    </div>
    <div>
        <input type="submit" title="Add team"  value="Add new team"/>
    </div>
    <div class="server-error">{{serverError}}</div>
</form>