<div><span>Id:&nbsp;{{project.Id}}</span></div>
<div><span>Author Id: {{project.AuthorId}}</span></div>
<div><span>Name: {{project.Name}}</span></div>
<div><span>Description: {{project.Description}}</span></div>
<div><span>CreatedAt: {{project.CreatedAt  | datePipe}}</span></div>
<div><span>Team id: {{project.TeamId}}</span></div>
<div><span>Deadline: {{project.Deadline  | datePipe}}</span></div>
<div><button class="add-new-project" (click)="showingUpdateProjectForm()">edit</button></div>
<div><button class="add-new-project" (click)="deleteProject()">delete</button></div>

<form name="projectUpdateForm" #projectUpdateForm="ngForm" *ngIf="showUpdateProjectForm" (ngSubmit)="updateProject()">
    <div>
        <p>Name</p>
        <input type="text" class="updateUserItem" name="name" [(ngModel)]="project.Name" #name="ngModel" required />
    </div>
    <div>
        <p>Description</p>
        <input type="text" class="updateUserItem" name="Description" #Description="ngModel" [(ngModel)]="project.Description" required />
    </div>
    <div>
        <p>Author Id</p>
        <input type="number" class="updateUserItem" name="AuthorId" #AuthorId="ngModel" #name="ngModel" [(ngModel)]="project.AuthorId" />
    </div>
    <div>
        <p>Team Id</p>
        <input type="number" class="updateUserItem" name="teamId" #teamId="ngModel" #name="ngModel" [(ngModel)]="project.TeamId" />
    </div>
    <div>
        <p>Deadline</p>
        <input type="date" class="updateUserItem"  name="birthDay" #birthDay="ngModel" [ngModel]="project.Deadline | date:'yyyy-MM-dd'"  (ngModelChange)="project.Deadline = $event"  required />
    </div>
    
    <div>
        <input type="submit" title="Update project"/>
    </div>
    <div class="server-error">{{serverError}}</div>
</form>