<div><span>Id:&nbsp;{{team.Id}}</span></div>
<div><span>Name: {{team.Name}}</span></div>
<div><span>CreatedAt: {{team.CreatedAt  | datePipe}}</span></div>
<div><button class="add-new-team" (click)="showingUpdateTeamForm()">edit</button></div>
<div><button class="add-new-team" (click)="deleteTeam()">delete</button></div>

<form name="teamUpdateForm" #teamUpdateForm="ngForm" *ngIf="showUpdateTeamForm" (ngSubmit)="updateTeam()">
    <div>
        <p>Name</p>
        <input type="text" class="updateTeamItem" name="name" [(ngModel)]="team.Name" #name="ngModel" required />
    </div>
    <div>
        <input type="submit" title="Update team"/>
    </div>
    <div class="server-error">{{serverError}}</div>
</form>
